---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "啊呀! 页面好像丢失到外太空了!",
	title: "啊偶! 你找到了一个丢失的页面!",
};
---

<PageLayout meta={meta}>
		<section>
			<h1 class="title mb-6">404 | 啊呀 发生了一些错误</h1>
			<p class="mb-8">请使用导航返回</p>
		</section>
</PageLayout>
