---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "404",
	description: "页面没了!",
};
---

<PageLayout meta={meta}>
	<h1 class="mb-6 title">404 | 页面丢失到外太空了</h1>
	<p class="mb-8">请自己导航回去吧！</p>
</PageLayout>
