---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "个人博客关于",
	title: "关于",
};
---

<PageLayout meta={meta}>
			<h1 class="title mb-6">关于</h1>
			<p class="mb-4">Hello World!</p>
			<p class="mb-4">Hello World!</p>
			<p class="mb-4">Hello World!</p>
</PageLayout>
