---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "关于",
	description: "个人博客关于",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">关于</h1>
		<p>Hello World!</p>
		<p>Hello World!</p>
		<p>Hello World!</p>
	</div>
</PageLayout>
