---
import type { HTMLTag, Polymorphic } from "astro/types";
import type { CollectionEntry } from "astro:content";

import FormattedDate from "../FormattedDate.astro";
import { getTitle, getDescription } from "@/data/post";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.publishDate;
---

<FormattedDate class="min-w-[120px] text-gray-600 dark:text-gray-400" date={postDate} />
<Tag>
	{post.data.draft && <span class="text-red-500">(草稿) </span>}
	<a class="cactus-link" data-astro-prefetch href={`/${post.collection}/${post.slug}/`}>
		{post.data.title ?? getTitle(post.body)}
	</a>
</Tag>
{
	withDesc && (
		<q class="line-clamp-3 block italic">{post.data.description ?? getDescription(post.body)}</q>
	)
}
